* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

p, .nav {
  font-family: geneva;
  font-size: 18px;
}

p, .nav, h1, h2 {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-family: brush script mt;
  font-size: 50px;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.nav a {
  padding: 6px;
  border: 1px solid teal;
  border-radius: 2px;
  color: white;
  background: teal;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.nav a:hover {
  color: teal;
  background: white;
}

.nav {
  padding-top: 30px;
  margin: 0px;
  background-color: rgba(0,128,128,0.5);
  padding-bottom: 30px;
  width: 100%;
}

.intro, .location, .value {
  display: inline-block;
  height: 400px;
  width: 400px;
  border: 1px dotted red;
  border-radius: 3px;
  margin: 0px 38px;
}

.location {
  position: relative;
  top: 25px;
}

.value {
  position: relative;
  bottom: 50px;
}

p {
  padding: 10px;
}
